<div id="main">
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; 
    <% if user_signed_in? %>
		<%= current_user.email %>
	<% end %>

</span>
<%= image_tag "logo-pametri.jpg", class: "center" %>
<div><h1 align="center">Pametri Budaya Nusantara</h1></div>
<p align="center"><i>Perkumpulan alumni SMA Kolese De Britto lintas angkatan yang sedang belajar mencintai dan merawat kebudayaan Nusantara.</i></p>
</div>
